/* Header
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.logo {
	border-top: 4px solid #0275D8;
	float: left; }

/* Aside
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.tagline {
	margin-top: 70px; }
#instructions, #technologies {
	font-size: 0.8em; }

/* Twitter feed (article)
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.feed {
	min-height: 100vh;
	margin-top: 4em; }
.user {
	cursor: pointer;
	font-weight: 500; }
.user:hover {
	color: #0275D8; }
.message {
	font-weight: 300;
	line-height: 2em; }
.created {
	font-size: 0.7em; }

/* Button navigation
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.btn-refresh {
	margin-top: 20px;
	width: 200px; }

/* Footer
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.footer-styling {
	background: #f5f5f5;
  bottom: 0;
  padding-top: 1.5em; }

/* Links
–––––––––––––––––––––––––––––––––––––––––––––––––– */
a:hover {
	text-decoration: none; }

/* Utility
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.shade {
	background: rgba(0,0,0,0.2); }