/* Header
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.hero {
	border-top: 4px solid #0275D8; 
	float: left; }

/* Aside
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.tagline {
	margin-top: 2em; }
.site-description1 {
	margin-top: 3em;
	font-size: 0.8em; }
.site-description2 {
	font-size: 0.8em; }

/* Navigation
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.btn-refresh {
	width: 200px;
	margin-top: 1em;
	cursor: pointer; }

/* Twitter Feed
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.content {
	min-height: 100vh; }
.tweet {
	margin-top: 2.2em;
	display: none;
	line-height: 2em; }
.user {
	color: #016ECD;
	cursor: pointer;
	font-weight: 500; }
.user:hover {
	/*color: #4AAFCD;*/
	color: #5F428A;
	-webkit-transition:1s;
		 -moz-transition:1s;
		  -ms-transition:1s;
	     -o-transition:1s;
  		    transition:1s; }
.message {
	font-weight: 200; }
.time {
	font-size: 0.7em;	}

/* Footer
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.footer-styling {
	width: 100%;
	background: whitesmoke;
	padding: 1.5em 0; }

/* Links
–––––––––––––––––––––––––––––––––––––––––––––––––– */
aside a:hover,
footer a:hover {
	color: #5F428A;
	text-decoration: none;
	-webkit-transition:1s;
		 -moz-transition:1s;
		  -ms-transition:1s;
	     -o-transition:1s;
  		    transition:1s; }